{% extends "@p1r0TplsAdminLTE/login_layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}

    {% if error %}
        <p class="text-danger">{{ error|trans }}</p>
    {% endif %}
    <form class="form-horizontal" action="{{ path("fos_user_security_check") }}" method="post">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
        <div class="body bg-gray">
            <div class="form-group">
                <input type="text" class="form-control" name="_username" id="username" placeholder="{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}" value="{{ last_username }}" required="required"/>
            </div>
            <div class="form-group">
                <input class="form-control" name="_password" id="password" type="password" placeholder="{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}" required="required" />
            </div>
            <div class="form-group">
                <input type="checkbox" id="remember_me" name="_remember_me" value="on" />{{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}
            </div>
        </div>
        <div class="footer">
            <button type="submit" class="btn bg-olive btn-block">{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}</button>

            {#<p><a href="#">I forgot my password</a></p>#}
        </div>
    </form>

{% endblock fos_user_content %}
